.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1da1f1;
}

.title {
    color: #ffffff;
    margin-left: 30px;
}

.title h1 {
    margin: 10px;
}

.navs {
    margin-right: 30px;
    display: flex;
    list-style: none;
}

.nav__button {
    width:120px;
    height:40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    background: #1da1f1;
    border: 2px solid #ffffff;
    border-radius:30px;
}

.nav__button a {
    margin: 0 auto;
    color: #ffffff;
    text-decoration: none;
}
